
.App-logo {
  height: 40vmin;
  pointer-events: none;
  overflow: hidden;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar-nav{
  margin-left: 60%;
  gap: 30px; 
}

.image{
  height: 100%;
  width: 100%;
}


.image1 img{
  width: 50%;
  height: 50%;
}

.dep{
  text-align: center;
}

.text{
  border-radius: 20px;
}


body{margin-top:20px;
background:#eee;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}
.table-nowrap .table td, .table-nowrap .table th {
    white-space: nowrap;
}
.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}
table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}


/* Show all Contact css */

body{margin-top:20px;
  background:#eee;
  }
  .card {
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }
  .avatar.sm {
      width: 2.25rem;
      height: 2.25rem;
      font-size: .818125rem;
  }
  .table-nowrap .table td, .table-nowrap .table th {
      white-space: nowrap;
  }
  .table>:not(caption)>*>* {
      padding: 0.75rem 1.25rem;
      border-bottom-width: 1px;
  }
  table th {
      font-weight: 600;
      background-color: #bfbfc2 !important;
  }

  .App{
    background-color:lavender;
  }

  .search{
    margin-left: 410px;
    width: 288px;
    margin-bottom: 17px;
   }
  
   .Box{
    border-top: 166px;
   }